body {
    background-color: #1d1e2a !important;
    font-size: 12px !important;
    color: #000000 !important;
    margin: 20px auto !important;
    max-width: 1000px !important;
    text-align: center !important;
}
form {
    padding: 0px !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
}
input,
button,
select,
tr {
    font-size: 12px !important;
}
a {
    text-decoration: none !important;
    color: #ffb6c1 !important;
    font-weight: bold
}
a:hover {
    text-decoration: none !important;
    color: #FFFFFF !important;
    font-weight: bold
}
.menu {
    cursor: default !important;
    background-color: #00CCFF !important;
}
.menuPane {
    position: absolute !important;
    display: none !important;
    background-color: #00CCFF !important;
    border: none !important;
}
.menuSep {
    width: 90% !important;
    height: 1px !important;
    font-size: 0px !important;
    background-color: black !important;
}
.item,
.itemLo,
.itemHi {
    cursor: default !important;
    font-size: 12px !important;
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
    padding-left: 0.4em !important;
    padding-right: 0.4em !important;
}
.itemLo {
    font-weight: bold !important;
}
.itemHi {
    font-weight: bold !important;
    background-color: #0088CC !important;
}
.navLink {
    font-size: 16px !important;
}
.ac {
    text-align: center
}
.al {
    text-align: left
}
.ar {
    text-align: right
}
.w20 {
    width: 20px
}
.w35 {
    width: 40px
}
.w40 {
    width: 40px
}
.w50 {
    width: 50px
}
.w65 {
    width: 65px
}
.w70 {
    width: 70px
}
.w80 {
    width: 80px
}
.w100 {
    width: 100px
}
.w120 {
    width: 120px
}
.w200 {
    width: 200px
}
.w270 {
    width: 270px
}
.w450 {
    width: 450px
}
.fw {
    width: 100%
}
.w80p {
    width: 80%
}
.w50p {
    width: 50%
}
.float {
    float: left
}
.fntSmall {
    font-size: 8px
}
.menuList {
    font-size: 16px !important;
    font-weight: bold !important;
}
.menuListDis {
    font-size: 16px !important;
    font-weight: bold !important;
    color: #606060 !important;
}
.outBox {
    background-color: #AAAAAA !important;
    border-style: none !important;
}
.outBox1 {
    background-color: #AAAAAA !important;
    border-style: none !important;
}
.titleBox {
    font-weight: bold !important;
    background-color: #0099CC !important;
}
.bigTitleBox {
    font-weight: bold !important;
    font-size: 20px !important;
    text-align: center !important;
    background-color: #0099CC !important;
    border-style: none !important;
}
.topLayout {
    width: 94%
}
.insBox {
    width: 400px
}
.insLab {
    background-color: #AAAAAA !important;
    border-style: none !important;
}
.lBox,
.mBox,
.mtBox,
.mbBox,
.rBox {
    background-color: #353944 !important;
    border-style: none !important;
    padding: 10px !important;
    color: #ccc !important;
}
.lBox {
    border-right-width: 0px !important;
}
.mBox {
    border-left-width: 0px !important;
    border-right-width: 0px !important;
}
.mtBox {
    border-left-width: 0px !important;
    border-bottom-width: 0px !important;
    border-right-width: 0px !important;
}
.mbBox {
    border-left-width: 0px !important;
    border-top-width: 0px !important;
    border-right-width: 0px !important;
}
.rBox {
    border-left-width: 0px !important;
}
.Cell,
.lCell,
.rCell,
.tCell,
.bCell,
.ltCell,
.rtCell,
.lbCell,
.rbCell,
.ltbCell,
.rtbCell,
.lrbCell,
.lrtCell,
.tbCell,
.lrCell,
.lrtbCell {
    background-color: #353944 !important;
    color: #99ccff !important;
    padding: 10px !important;
    border-style: none !important;
}
.lCell,
.ltCell,
.lbCell,
.ltbCell,
.lrbCell,
.lrtCell,
.lrCell,
.lrtbCell {
    border-left-width: 1px !important;
}
.rCell,
.rtCell,
.rbCell,
.rtbCell,
.lrbCell,
.lrtCell,
.lrCell,
.lrtbCell {
    border-right-width: 1px !important;
}
.tCell,
.ltCell,
.rtCell,
.ltbCell,
.rtbCell,
.lrtCell,
.tbCell,
.lrtbCell {
    border-top-width: 1px !important;
}
.bCell,
.lbCell,
.rbCell,
.ltbCell,
.rtbCell,
.lrbCell,
.tbCell,
.lrtbCell {
    border-bottom-width: 1px !important;
}
tr.resRow {
    background-color: #353944 !important;
    color: #aaccff !important;
}
tr.resRow:hover {
    background-color: #CCCCCC !important;
}
tr.resRow td {
    padding: 2px !important;
    border-style: none !important;
    text-align: right !important;
}
tr.resRow td:first-child {
    border-left-width: 1px !important;
}
tr.resRow td:last-child {
    border-right-width: 1px !important;
}
tr.resHdr td {
    font-weight: normal !important;
    background-color: #353944 !important;
    color: #eee !important;
    border-style: none !important;
    border-width: 1px !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
    padding-top: 3px
}
tr.resStat td {
    font-weight: normal !important;
    background-color: #989889 !important;
    border-style: none !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
    padding-top: 3px !important;
    text-align: right !important;
}
.lrtbSepCell,
.ltbSepCell,
.rtbSepCell,
.tbSepCell {
    background-color: #353944 !important;
    border-style: none !important;
    padding: 8px !important;
    color: #ddf !important;
    font-size: 13px !important;
}
.ltbSepCell {
    border-right-width: 0px !important;
}
.rtbSepCell {
    border-left-width: 0px !important;
}
.tbSepCell {
    border-left-width: 0px !important;
    border-right-width: 0px !important;
}
.lrtbOkSepCell,
.ltbOkSepCell,
.rtbOkSepCell,
.tbOkSepCell {
    background-color: #00C000 !important;
    border-style: none !important;
    padding: 2px !important;
}
.ltbOkSepCell {
    border-right-width: 0px !important;
}
.rtbOkSepCell {
    border-left-width: 0px !important;
}
.tbOkSepCell {
    border-left-width: 0px !important;
    border-right-width: 0px !important;
}
.lrtbHalfSepCell,
.ltbHalfSepCell,
.rtbHalfSepCell,
.tbHalfSepCell {
    background-color: #80C000 !important;
    border-style: none !important;
    padding: 2px !important;
    border-width: 1px !important;
}
.ltbHalfSepCell {
    border-right-width: 0px !important;
}
.rtbHalfSepCell {
    border-left-width: 0px !important;
}
.tbHalfSepCell {
    border-left-width: 0px !important;
    border-right-width: 0px !important;
}
.lrtbWaitSepCell,
.ltbWaitSepCell,
.rtbWaitSepCell,
.tbWaitSepCell {
    background-color: #C0C000 !important;
    border-style: none !important;
    padding: 2px !important;
}
.ltbWaitSepCell {
    border-right-width: 0px !important;
}
.rtbWaitSepCell {
    border-left-width: 0px !important;
}
.tbWaitSepCell {
    border-left-width: 0px !important;
    border-right-width: 0px !important;
}
.lrtbXSepCell,
.ltbXSepCell,
.rtbXSepCell,
.tbXSepCell {
    background-color: #C00080 !important;
    border-style: none !important;
    padding: 2px !important;
    border-width: 1px !important;
}
.ltbXSepCell {
    border-right-width: 0px !important;
}
.rtbXSepCell {
    border-left-width: 0px !important;
}
.tbXSepCell {
    border-left-width: 0px !important;
    border-right-width: 0px !important;
}
.lrtbFailSepCell,
.ltbFailSepCell,
.rtbFailSepCell,
.tbFailSepCell {
    background-color: #C04000 !important;
    border-style: none !important;
    padding: 2px !important;
    border-width: 0px !important;
}
.ltbFailSepCell {
    border-right-width: 0px !important;
}
.rtbFailSepCell {
    border-left-width: 0px !important;
}
.tbFailSepCell {
    border-left-width: 0px !important;
    border-right-width: 0px !important;
}
.lrtbEditSepCell,
.ltbEditSepCell,
.rtbEditSepCell,
.tbEditSepCell {
    background-color: #0099cc !important;
    border-style: none !important;
    padding: 2px !important;
}
.ltbEditSepCell {
    border-right-width: 0px !important;
}
.rtbEditSepCell {
    border-left-width: 0px !important;
}
.tbEditSepCell {
    border-left-width: 0px !important;
    border-right-width: 0px !important;
}
input.std,
input.stdDis,
input.test,
input.testDis,
input.flt,
input.fltDis,
input.seek,
input.seekDis,
input.err {
    color: #FFFFFF !important;
    font-weight: bold !important;
    font-size: 12px !important;
    border-style: none !important;
}
input.std,
input.test {
    background-color: #0099CC !important;
}
input.err {
    background-color: #c00000 !important;
}
input.stdDis,
input.testDis {
    background-color: #989889 !important;
}
select.std,
select.stdDis,
select.test,
select.flt {
    font-family: Courier !important;
    font-size: 12px !important;
}
input.fltDis {
    color: #ffFFFF !important;
    background-color: #989889 !important;
}
input.flt {
    color: #000000 !important;
    background-color: #989889 !important;
}
input.seekDis {
    color: #ffFFFF !important;
    background-color: #989889 !important;
    font-size: 10px !important;
}
input.seek {
    color: #000000 !important;
    background-color: #989889 !important;
    font-size: 10px !important;
}
select.seek {
    font-family: Courier !important;
    font-size: 10px
}
.textHi {
    color: #800000 !important;
}
.textStd {
    color: #000000 !important;
}
.textDis {
    color: #808080 !important;
}
.dupS {
    color: #c000c0 !important;
}
.dupA {
    color: #c000c0 !important;
}
.dupG {
    color: #ffff00 !important;
}
.dupC {
    color: #c00000 !important;
}
.grayBox,
.greenBox,
.redBox,
.yellowBox,
.legendBox {
    width: 8px !important;
    height: 8px !important;
    display: block !important;
    border-style: none !important;
}
.grayBox {
    background-color: #c0c0c0 !important;
}
.greenBox {
    background-color: #00ff00 !important;
}
.redBox {
    background-color: #ff0000 !important;
}
.yellowBox {
    background-color: #ffff00 !important;
}
.legendBox {
    margin: 3px !important;
}
.nOk:before {
    content: \"\\2718\" !important;
    color: red !important;
    float: left !important;
}
.wOk:before {
    content: \"\\2718\" !important;
    color: #ff00ff !important;
    float: left !important;
}
.yOk:before {
    content: \"\\2714\" !important;
    color: green !important;
    float: left !important;
}
.oOk:before {
    content: \"\\2714\" !important;
    color: yellow !important;
    float: left !important;
}
.but1 {
    background-color: #000000 !important;
    padding: 1px
}
.but2 {
    text-align: center !important;
    background-color: #FFBB00 !important;
    border-style: none !important;
    padding: 5px 5px 5px 5px !important;
    display: block
}
.butJSDis {
    text-decoration: none !important;
    color: #404040 !important;
    font-weight: bold !important;
    display: block !important;
    width: 100%
}
a.butJS {
    text-decoration: none !important;
    color: #0000ff !important;
    font-weight: bold !important;
    display: block !important;
    width: 100%
}
a.butJS:hover {
    text-decoration: none !important;
    color: #000000 !important;
    font-weight: bold !important;
    display: block !important;
    width: 100%
}
a.butJSDel {
    text-decoration: none !important;
    color: #990099 !important;
    font-weight: bold !important;
    display: block !important;
    width: 100%
}
a.butJSDel:hover {
    text-decoration: none !important;
    color: #ffcc00 !important;
    font-weight: bold !important;
    display: block !important;
    width: 100% !important;
    background-color: #990099
}
a.butTest {
    text-decoration: none !important;
    color: #0000ff !important;
    font-weight: bold !important;
    display: block !important;
    width: 100%
}
a.butTest:hover {
    text-decoration: none !important;
    color: #000000 !important;
    font-weight: bold !important;
    display: block !important;
    width: 100%
}
a.butLink {
    text-decoration: none !important;
    color: #000000 !important;
    font-weight: bold !important;
    display: block !important;
    width: 100%
}
a.butLink:hover {
    text-decoration: none !important;
    color: #FFFFFF !important;
    font-weight: bold !important;
    display: block !important;
    width: 100%
}
a.butDel {
    text-decoration: none !important;
    color: #FF0000 !important;
    font-weight: bold !important;
    display: block !important;
    width: 100%
}
a.butDel:hover {
    text-decoration: none !important;
    color: #ffcc00 !important;
    font-weight: bold !important;
    display: block !important;
    width: 100% !important;
    background-color: #FF0000
}
a.butWarn {
    text-decoration: none !important;
    color: #ffff00 !important;
    font-weight: bold !important;
    display: block !important;
    width: 100%
}
a.butWarn:hover {
    text-decoration: none !important;
    color: #000000 !important;
    font-weight: bold !important;
    display: block !important;
    width: 100% !important;
    background-color: #FFFF00
}
a.butSortLo {
    text-decoration: none !important;
    color: #000000 !important;
    font-weight: bold
}
a.butSortLo:hover {
    text-decoration: none !important;
    color: #FFFFFF !important;
    font-weight: bold
}
a.butSortHi {
    text-decoration: none !important;
    color: #0000FF !important;
    font-weight: bold
}
a.butSortHi:hover {
    text-decoration: none !important;
    color: #FFFFFF !important;
    font-weight: bold
}
a.navLink {
    color: #101010 !important;
    padding: 10px !important;
}
.outButton {
    background-color: #000000 !important;
    padding: 1px
}
.updButton {
    height: 16px !important;
    font-weight: bold !important;
    color: #000000 !important;
    background-color: #CCCCCC !important;
    border-style: none !important;
    width: 120px
}
.disButton {
    height: 16px !important;
    font-weight: normal !important;
    color: #808080 !important;
    background-color: #CCCCCC !important;
    border-style: none !important;
    width: 120px
}
.delButton {
    height: 16px !important;
    font-weight: bold !important;
    color: #ff0000 !important;
    background-color: #CCCCCC !important;
    border-style: none !important;
    width: 120px
}
.insButton {
    height: 16px !important;
    font-weight: bold !important;
    color: #000000 !important;
    background-color: #CCCCCC !important;
    border-style: none !important;
    width: 120px
}
.fltButton {
    height: 16px !important;
    font-weight: bold !important;
    color: #000000 !important;
    background-color: #989889 !important;
    border-style: none !important;
    width: 120px
}
.seekButton {
    height: 16px !important;
    font-weight: bold !important;
    color: #000000 !important;
    background-color: #989889 !important;
    border-style: none !important;
    width: 80px
}
.flatButton {
    background-color: #AAAAAA !important;
    border-style: none !important;
    text-align: center
}
.hdrUp {
    height: 15px !important;
    background-color: #989889 !important;
    border-style: none !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
    padding-top: 3px
}
.hdrDown {
    height: 15px !important;
    background-color: #989889 !important;
    border-style: none !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
    padding-top: 3px
}
.hdrDis {
    font-weight: normal !important;
    height: 25px !important;
    background-color: #353944 !important;
    color: #aaaaff !important;
    text-align: center !important;
    border-style: none !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
    padding-top: 10px !important;
    font-size: 15px !important;
}
.hdrLink {
    display: block !important;
    width: 100%
}
.hdrCell {
    font-weight: normal !important;
    background-color: #989889 !important;
    border-style: none !important;
    padding-left: 3px !important;
    padding-right: 3px !important;
    padding-top: 3px !important;
}
img.border {
    border-style: none !important;
}
.visY {
    visibility: visible
}
.visN {
    visibility: hidden
}
table.header {
    font-size: 16px !important;
    font-weight: bold !important;
    background-color: #0099CC !important;
    border-style: none !important;
}
td.header {
    font-size: 16px !important;
    font-weight: bold !important;
    padding: 2px
}
.pageCount {
    color: #800000
}
.textOk {
    color: #009940 !important;
    font-weight: bold !important;
}
.textWarn {
    color: #DDDD00 !important;
    font-weight: bold !important;
}
.textCrit {
    color: #994040 !important;
    font-weight: bold !important;
}
.textOther {
    color: #808080 !important;
    font-weight: bold !important;
}
table {
    background-color: #353944 !important;
}
tr.resRow:hover {
    color: #1d1e2a !important;
    background-color: #99ccff !important;
}

pre {
    font-family: Monaco !important;
}

img[src="shibboleth.png"] {
    background-color: #fff !important;
}
